nav {
  width: 150px;
  float: left;
  height: 100%;
  padding: 12px;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 12px;
      cursor: pointer;
      &:hover {
        color: #FFc500;
      }
    }

  }
}
