<div class="detail">
  <div class="image">
    <img src="{{contact.image}}" alt="{{contact.name}}">
  </div>
  <div class="info">
    <div class="name">
      <span class="label">Name:</span>
      <span class="data">
        {{contact.name}}
        <span *ngIf="contact.fav" class="fav">
          <img src="assets/star.svg" alt="Favorite">
        </span>
      </span>
    </div>
    <div class="real-name">
      <span class="label">Real Name:</span>
      <span class="data">{{contact.realName}}</span>
    </div>
    <div class="loacation">
      <span class="label">Location:</span>
      <span class="data">{{contact.location}}</span>
    </div>
  </div>
</div>
