<div class="success-message" *ngIf="success">
  {{success}}
</div>
<h1>{{title}}</h1>

<form novalidate #f="ngForm" (ngSubmit)="save()">
  <label [ngClass]="{
    'invalid': name.invalid && (name.dirty || name.touched),
    'valid': name.valid && (name.dirty || name.touched)
   }">
    <span class="label">Name <span>*</span></span>
    <input type="text" name="name" [(ngModel)]="contact.name" #name="ngModel" required>
    <div class="error-message" *ngIf="name.errors && (name.dirty || name.touched)">
      Name is required.
    </div>
  </label>

  <label>
    <span class="label">Real Name</span>
    <input type="text" name="realName" [(ngModel)]="contact.realName" #realName="ngModel">
  </label>

  <label>
    <span class="label">Location</span>
    <input type="text" name="location" [(ngModel)]="contact.location" #location="ngModel">
  </label>

  <label>
    <span class="label">Image</span>
    <input type="text" name="image" [(ngModel)]="contact.image" #image="ngModel">
  </label>

  <label>
    <span class="label">Favorite</span>
    <input type="checkbox" name="fav" [(ngModel)]="contact.fav" #fav="ngModel">
  </label>

  <button type="submit">Save</button>

</form>
