.success-message {
  color: #ffffff;
  background-color: #128a42;
  position: absolute;
  margin-left: 250px;
  padding: 5px 20px;
  border-radius: 3px;
}

label {
  display: block;
  margin-bottom: 24px;

  .label {
    display: inline-block;
    color: #0062b0;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    span {
      color: red;
    }
  }

  &.invalid {
    input {
      border: 1px solid red;
    }
    .error-message {
      margin-left: 6px;
      display: inline-block;
      color: red;
    }
  }
}

button {
  display: block;
  margin-top: 18px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #0062b0;
  padding: 5px 10px;
  border: solid #0062b0 1px;
  text-decoration: none;
  &:hover {
    color: #0062b0;
    background: #ffffff;
    text-decoration: none;
  }
}
